<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>Discord Video Embedder</title>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="background-color:#181a1b; max-width: 0 auto;">
    <h1 class="title" style="color:#d8d4cf;">Discord Video Embedder</h1>
    <p style="color:#d8d4cf">Lets you watch a discord video in the browser instead of downloading it by default. <br>
    Simply paste the link to a discord video at the end of the url (after the /, if there is none add one).
    </p>
	<p style="color:#d8d4cf">Like this: <a style="color:#3391ff" href="{{ .Host }}/{{ .VideoUrl }}">{{ .Host}}/{{ .VideoUrl}} </a></p>
	<p style="color:#d8d4cf">Source: <a style="color:#3391ff" href="https://github.com/noury-ee/embed-discord-video">https://github.com/noury-ee/embed-discord-video</a></p>
    <p style="color:#d8d4cf"><sup>this is beautiful web design shut up</sup></p>
    </body>
</html>